<!DOCTYPE html>
<html lang=zh-cn">
<head>
    <meta charset="UTF-8">
    <title>我的采购单</title>
       <link href="{{static_url('bootstrapL/css/bootstrap.min.css')}}" rel="stylesheet">
</head>
<body>
<table class="table table-bordered table-hover">
    <tr>
        <th>商品名</th>
        <th>价格</th>
        <th>操作</th>
    </tr>
    {%for r in re %}
    <tr>
        <td>{{r.name}}</td>
        <td>{{r.price}}</td>
        <td><a href="/outshop/{{r.id}}">移除购物车</a></td>
    </tr>
    {% end %}

   <h1> 总额:{{s}}</h1>
    </table>
<div align="center">
<a href="/post">提交订单</a>
    </div>
<script src="{{static_url('jqueryL/jquery-3.1.1.min.js')}}"></script>
<script src="{{static_url('bootstrapL/js/bootstrap.min.js')}}"></script>
</body>
</html>